# Overview of Python

"Portable, powerful, and a breeze to use", Python is a popular, open-source programming language used for both scripting applications and standalone programs. Python can be used to do pretty much anything.

## Python is interpreted

- Python is an _interpreted_ language, in contrast to Java and C which are compiled languages.

- This means we can type statements into the interpreter and they are executed immediately.

- Thus, you can use Python as a calculator. Position your cursor in the code cells below and hit `[shift][enter]`.

In [40]:
5 + 5

10

- Groups of statements are all executed one after the other:

In [41]:
x = 5
y = 'Hello There'
z = 10.5

In [42]:
x + 5

10

## Basic operations

In [43]:
10 * 4

40

In [44]:
10 ** 4

10000

In [45]:
10 / 4

2.5

In [46]:
10 // 4

2

## Assignments versus equations

- In Python when we write `x = 5` this means something different from an equation $x=5$.

- Unlike variables in mathematical models, variables in Python can refer to different things as more statements are interpreted.

In [47]:
x = 1
print('The value of x is', x)

x = 2.5
print('Now the value of x is', x)

x = 'hello there'
print('Now it is ', x)

The value of x is 1
Now the value of x is 2.5
Now it is  hello there

## Calling Functions

We can call functions in a conventional way using round brackets

In [48]:
round(3.14)

3

## Import libraries

In [49]:
# 'generic import' of math module
import math
print(math.sqrt(25))

# import a function
from math import sqrt
print(sqrt(25))

# no longer have to reference the module
# import multiple functions at once
from math import cos, floor

# show all functions in math module
content = dir(math)
print(content)

5.0
5.0
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

## Types

- Values in Python have an associated _type_.

- If we combine types incorrectly we get an error.

In [50]:
print(y)

Hello There

In [51]:
y + 5

TypeError: must be str, not int

## The type function

- We can query the type of a value using the `type` function.

In [52]:
type(1)

int

In [53]:
type('hello')

str

In [54]:
type(2.5)

float

In [55]:
type(True)

bool

## Converting values between types

- We can convert values between different types.

### Converting to floating-point

- To convert an integer to a floating-point number use the `float()` function.

In [56]:
x = 1
x

1

In [57]:
type(x)

int

In [58]:
y = float(x)
y

1.0

### Converting to integers

- To convert a floating-point to an integer use the `int()` function.

In [59]:
type(y)

float

In [60]:
int(y)

1

## Variables are not typed

- _Variables_ themselves, on the other hand, do not have a fixed type.
- It is only the values that they refer to that have a type.
- This means that the type referred to by a variable can change as more statements are interpreted.

In [61]:
y = 'hello'
print('The type of the value referred to by y is ', type(y))
y = 5.0
print('And now the type of the value is ', type(y))

The type of the value referred to by y is  <class 'str'>
And now the type of the value is  <class 'float'>

## Polymorphism

- The meaning of an operator depends on the types we are applying it to.

In [62]:
1 + 1

2

In [63]:
'a' + 'b'

'ab'

In [64]:
'1' + '1'

'11'

## <a name="ex1"></a> Exercise 1 - First Python code

- Compute the value of the polynomial $y=ax^2+bx+c$ at $x=-2$, $x=0$, and $x=2.1$ using $a=1$, $b=1$, $c=-6$ 
- Print the results to the screen.

In [ ]:
a = 1
...
x = -2
y = ...
print('y evaluated at x = -2 is', y)
...
print('y evaluated at x = 0 is', y)
x = 2.1
...
print('y evaluated at x = 2.1 is {:0.2f}'.format(y))

<a href="#ex1answer">Answer to Exercise 1</a>

# Conditional Statements and Indentation

- The syntax for control structures in Python uses _colons_ and _indentation_.

- Beware that white-space affects the semantics of Python code.

- Statements that are indented using the Tab key are grouped together.

## `if` statements

In [65]:
x = 5
if x > 0:
    print('x is strictly positive.')
    print(x)
    
print('finished.')

x is strictly positive.
5
finished.

## Changing indentation

In [66]:
x = 0
if x > 0:
    print('x is strictly positive.')
print(x)
    
print('finished.')

0
finished.

## `if` and `else`

In [67]:
x = 0
print('Starting.')
if x > 0:
    print('x is strictly positive.')
else:
    if x < 0:
        print('x is strictly negative.')
    else:
        print('x is zero.')
print('finished.')

Starting.
x is zero.
finished.

## `elif`

In [68]:
print('Starting.')
if x > 0:
    print('x is strictly positive')
elif x < 0:
    print('x is strictly negative')
else:
    print('x is zero')
print('finished.')

Starting.
x is zero
finished.

# Lists

We can use _lists_ to hold an ordered sequence of values.

In [69]:
empty_list=[]
empty_list=list() # another way of creating an empty list
empty_list

[]

In [75]:
l = ['first', 'second', 'third']
l

['first', 'second', 'third']

Lists can contain different types of variable, even in the same list.

In [76]:
another_list = ['first', 'second', 'third', 1, 2, 3]
another_list

['first', 'second', 'third', 1, 2, 3]

## Mutable Datastructures

Lists are _mutable_ : their contents can change as more statements are interpreted.

In [77]:
l.append('fourth')
l

['first', 'second', 'third', 'fourth']

In [78]:
l.insert(0, 'none')
l

['none', 'first', 'second', 'third', 'fourth']

In [79]:
l.pop(2)
l

['none', 'first', 'third', 'fourth']

## <a name="ex2"></a> Exercise 2 - First list

Given an input list, for example <code>sampleList = [34, 54, 67, 89, 11, 43, 94]</code>

- Remove the element at index 4
- Add it to the 2nd position
- Add it also at the end of the list

In [ ]:
sampleList = [34, 54, 67, 89, 11, 43, 94]

...

<a href="#ex2answer">Answer to Exercise 2</a>

## References

- Whenever we bind a variable to a value in Python we create a *reference*.

- A reference is distinct from the value that it refers to.

- Variables are names for references.

In [80]:
X = [1, 2, 3]
Y = X

## Side effects

- The above code creates two different references (named `X` and `Y`) to the *same* value `[1, 2, 3]`

- Because lists are mutable, changing them can have side-effects on other variables.

- If we append something to `X` what will happen to `Y`?

In [81]:
X.append(4)
X

[1, 2, 3, 4]

In [82]:
Y

[1, 2, 3, 4]

## State and identity

- The state referred to by a variable is *different* from its identity.

- To compare *state* use the `==` operator.

- To compare *identity* use the `is` operator.

- When we compare identity we check equality of references.

- When we compare state we check equality of values.

## Example

- We will create two *different* lists, with two associated variables.

In [83]:
X = [1, 2]
Y = [1]
Y.append(2)

## Comparing state

In [84]:
X

[1, 2]

In [85]:
Y

[1, 2]

In [86]:
X == Y

True

## Comparing identity

In [87]:
X is Y

False

### Copying data prevents side effects

- In this example, because we have two different lists we avoid side effects

In [89]:
Y.append(3)
X

[1, 2]

In [90]:
X == Y

False

In [91]:
X is Y

False

# Iteration

- We can iterate over each element of a list in turn using a `for` loop:

In [92]:
my_list = ['first', 'second', 'third', 'fourth']
for i in my_list:
    print(i)

first
second
third
fourth

## Including more than one statement inside the loop

In [93]:
my_list = ['first', 'second', 'third', 'fourth']
for i in my_list:
    print("The next item is:")
    print(i)
    print()

The next item is:
first

The next item is:
second

The next item is:
third

The next item is:
fourth

## Looping a specified number of times

- To perform a statement a certain number of times, we can iterate over a list of the required size.

In [95]:
for i in [0, 1, 2, 3]:
    print("Hello!")

Hello!
Hello!
Hello!
Hello!

## The `range` function

- To save from having to manually write the numbers out, we can use the function `range()` to count for us.  

- We count starting at 0 (as in Java and C++).

In [96]:
list(range(4))

[0, 1, 2, 3]

## `for` loops with the `range` function

In [97]:
for i in range(4):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!

## <a name="ex3"></a> Exercise 3 - First loop
- Create a list named `week` containing the names of the seven days of the week.

- Using a `for` loop, print each day of the week together with these associated messages:

 * "At work", if it is monday to thursday
 * "Oh yeah it's friday", if it is friday
 * "At rest this weekend", if it is saturday or sunday

In [ ]:
week = ['monday', 'tuesday', 'wednesday', ...]

for day in week:
    if ...:
    elif ...:
    else:
        ...

<a href="#ex3answer">Answer to Exercise 3</a>

## <a name="ex4"></a> Exercise 4 - Example illustrating what is a loop for?

Calculate the sum and average of multiple user-entered numbers.

In [ ]:
numbers = input("Enter numbers separated by space ")
numberList = numbers.split()
print("All entered numbers ", numberList)

#Calculating the sum of all user entered numbers
sum = 0
...

<a href="#ex4answer">Answer to Exercise 4</a>

# List Indexing

- Lists can be indexed using square brackets to retrieve the element stored in a particular position.

In [98]:
my_list

['first', 'second', 'third', 'fourth']

In [99]:
my_list[0]

'first'

In [100]:
my_list[1]

'second'

- Find elements in a list

In [101]:
l.append('fourth')
l.count('fourth')

2

In [102]:
l.index('third')

2

## List Slicing

- We can also a specify a _range_ of positions.  

- This is called _slicing_.

- The example below indexes from position 0 (inclusive) to 2 (exclusive).

In [103]:
my_list[0:2]

['first', 'second']

## Indexing from the start or end

- If we leave out the starting index it implies the beginning of the list:

In [104]:
my_list[:2]

['first', 'second']

- If we leave out the final index it implies the end of the list:

In [105]:
my_list[2:]

['third', 'fourth']

## Copying a list

- We can conveniently copy a list by indexing from start to end:

In [106]:
new_list = my_list[:]

In [107]:
new_list

['first', 'second', 'third', 'fourth']

In [108]:
new_list is my_list

False

In [109]:
new_list == my_list

True

## Negative Indexing

- Negative indices count from the end of the list:

In [110]:
my_list[-1]

'fourth'

In [111]:
my_list[:-1]

['first', 'second', 'third']

# Collections

- Lists are an example of a *collection*.

- A collection is a type of value that can contain other values.

- There are other collection types in Python:

    - `tuple`
    - `set`
    - `dict`

## Tuples

- Tuples are another way to combine different values.

- The combined values can be of different types.

- Like lists, they have a well-defined ordering and can be indexed.

- To create a tuple in Python, use round brackets instead of square brackets

In [112]:
tuple1 = (50, 'hello')
tuple1

(50, 'hello')

In [113]:
tuple1[0]

50

In [114]:
type(tuple1)

tuple

### Tuples are immutable

- Unlike lists, tuples are *immutable*.  Once we have created a tuple we cannot add values to it.

In [115]:
tuple1.append(2)

AttributeError: 'tuple' object has no attribute 'append'

## Sets

- Lists can contain duplicate values.

- A set, in contrast, contains no duplicates.

- Sets can be created from lists using the `set()` function.

In [116]:
X = set([1, 2, 3, 3, 4])
X

{1, 2, 3, 4}

In [117]:
type(X)

set

- Alternatively we can write a set literal using the `{` and `}` brackets.

In [118]:
X = {1, 2, 3, 4}
type(X)

set

### Sets are mutable

- Sets are mutable like lists:

In [119]:
X.add(5)
X

{1, 2, 3, 4, 5}

- Duplicates are automatically removed

In [120]:
X.add(5)
X

{1, 2, 3, 4, 5}

### Sets are unordered

- Sets do not have an ordering.

- Therefore we cannot index or slice them:

In [121]:
X[0]

TypeError: 'set' object does not support indexing

### Operations on sets

- Union: $X \cup Y$

In [122]:
X = {1, 2, 3}
Y = {4, 5, 6}
X | Y

{1, 2, 3, 4, 5, 6}

- Intersection: $X \cap Y$:

In [123]:
X = {1, 2, 3, 4}
Y = {3, 4, 5}
X & Y

{3, 4}

- Difference $X - Y$:

In [124]:
X - Y

{1, 2}

## Dictionaries

- A dictionary contains a mapping between *keys*, and corresponding *values*.
    
    - Mathematically it is a one-to-one function with a finite domain and range.
    
- Given a key, we can very quickly look up the corresponding value.

- The values can be any type (and need not all be of the same type).

- Keys can be any immutable (hashable) type.

- They are abbreviated by the keyword `dict`.

- In other programming languages they are sometimes called *associative arrays*.

### Creating a dictionary

- A dictionary contains a set of key-value pairs.

- To create a dictionary:

In [125]:
students = { 107564: 'Xu', 108745: 'Ian', 102567: 'Steve' }

- The above initialises the dictionary students so that it contains three key-value pairs.

- The keys are the student id numbers (integers).

- The values are the names of the students (strings).

- Although we use the same brackets as for sets, this is a different type of collection:

In [126]:
type(students)

dict

### Accessing the values in a dictionary

- We can access the value corresponding to a given key using the same syntax to access particular elements of a list:

In [127]:
students[108745]

'Ian'

- Accessing a non-existent key will generate a `KeyError`:

In [128]:
students[123]

KeyError: 123

### Updating dictionary entries

- Dictionaries are mutable, so we can update the mapping:

In [129]:
students[108745] = 'Fred'
print(students[108745])

Fred

- We can also grow the dictionary by adding new keys:

In [130]:
students[104587] = 'John'
print(students[104587])

John

### Dictionary keys can be any immutable type

- We can use any immutable type for the keys of a dictionary

- For example, we can map names onto integers:

In [131]:
age = { 'John':21, 'Steve':47, 'Xu': 22 }

In [132]:
age['Steve']

47

### Creating an empty dictionary

- We often want to initialise a dictionary with no keys or values.

- To do this call the function `dict()`:

In [133]:
result = dict()

- We can then progressively add entries to the dictionary, e.g. using iteration:

In [134]:
for i in range(5):
    result[i] = i**2
print(result)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Iterating over a dictionary

- We can use a for loop with dictionaries, just as we can with other collections such as sets.
- When we iterate over a dictionary, we iterate over the *keys*.
- We can then perform some computation on each key inside the loop.
- Typically we will also access the corresponding value.

In [135]:
for id in students:
    print(students[id])

Xu
Fred
Steve
John

## The size of a collection

- We can count the number of values in a collection using the `len` (length) function.

- This can be used with any type of collection (list, set, tuple etc.).

In [136]:
len(students)

4

In [137]:
len(['one', 'two'])

2

In [138]:
len({'one', 'two', 'three'})

3

## Empty collections

- Empty collections have a size of zero:

In [139]:
empty_list = []
len(empty_list) == 0

True

## Arrays

- Python also has arrays which contain a *single* type of value.

- i.e. we *cannot* have different types of value within the same array.   

- Arrays are mutable like lists; we can modify the existing elements of an array.

- However, we typically do not change the size of the array; i.e. it has a fixed length.

## <a name="ex5"></a> Exercise 5 - Sets
Given the list <code>[11, 45, 8, 11, 23, 45, 23, 45, 89]</code>

- Iterate it
- Count the occurrence of each element 
- Create a dictionary to show the count of each element

In [ ]:
sampleList = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sampleList)

countDict = dict()
for item in sampleList:
...

print("Printing count of each item  ",countDict)

<a href="#ex5answer">Answer to Exercise 5</a>

# Defining new functions

In [140]:
def squared(x):
    return x ** 2

squared(5)

25

## <a name="ex6"></a> Exercise 6 - First function
Write a function <code>calculation()</code> such that:

- It can accept two variables and calculate the addition and subtraction of it.
- It must return both addition and subtraction in a single return call.

In [ ]:
def calculation(...):
    return ...

res = calculation(...)
print(res)

#add, sub = calculation(...)
#print(add)
#print(sub)

<a href="#ex6answer">Answer to Exercise 6</a>

# Local Variables

- Variables created inside functions are _local_ to that function.

- They are not accessable to code outside of that function.

In [141]:
def squared(x):
    temp = x ** 2
    return temp

squared(5)

25

In [142]:
temp

NameError: name 'temp' is not defined

---
# Answers for the exercises
---

<a name="ex1answer">Answer to Exercise 1</a>

In [143]:
a = 1
b = 1
c = -6
x = -2
y = a * x ** 2 + b * x + c
print('y evaluated at x = -2 is', y)
x = 0 
y = a * x ** 2 + b * x + c
print('y evaluated at x = 0 is', y)
x = 2.1
y = a * x ** 2 + b * x + c
print('y evaluated at x = 2.1 is {:0.2f}'.format(y))

y evaluated at x = -2 is -4
y evaluated at x = 0 is -6
y evaluated at x = 2.1 is 0.51

<a href="#ex1">Back to Exercise 1</a>

<a name="ex2answer">Answer to Exercise 2</a>

In [144]:
sampleList = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sampleList)
element = sampleList.pop(4)
print("List After removing element at index 4 ", sampleList)

sampleList.insert(2, element)
print("List after Adding element at index 2 ", sampleList)

sampleList.append(element)
print("List after Adding element at last ", sampleList)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

<a href="#ex2">Back to Exercise 2</a>

<a name="ex3answer">Answer to Exercise 3</a>

In [145]:
week = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday','saturday', 'sunday']

for day in week:
    if day == "saturday" or day == "sunday":
        print("{} At rest this weekend".format(day))
    elif day == "friday":
        print("{}: Oh yeah it's friday".format(day))
    else:
        print("{}: At work".format(day))

monday: At work
tuesday: At work
wednesday: At work
thursday: At work
friday: Oh yeah it's friday
saturday At rest this weekend
sunday At rest this weekend

<a href="#ex3">Back to Exercise 3</a>

<a name="ex4answer">Answer to Exercise 4</a>

In [146]:
numbers = input("Enter numbers separated by space ")
numberList = numbers.split()
print("All entered numbers ", numberList)

#Calculating the sum of all user entered numbers
sum = 0
for num in numberList:
    sum += int(num)
print("Sum of all entered numbers = ", sum)
avg = sum/len(numberList)
print("Average of all entered numbers = ", avg)

Enter numbers separated by space 24 25
All entered numbers  ['24', '25']
Sum of all entered numbers =  49
Average of all entered numbers =  24.5

<a href="#ex4">Back to Exercise 4</a>

<a name="ex5answer">Answer to Exercise 5</a>

In [147]:
sampleList = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sampleList)

countDict = dict()
for item in sampleList:
    if (item in countDict):
        countDict[item] += 1
    else:
        countDict[item] = 1

print("Printing count of each item  ",countDict)

Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]
Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

<a href="#ex5">Back to Exercise 5</a>

<a name="ex6answer">Answer to Exercise 6</a>

In [148]:
def calculation(a, b):
    return a+b, a-b

res = calculation(40, 10)
print(res)

#add, sub = calculation(40, 10)
#print(add)
#print(sub)

(50, 30)

<a href="#ex6">Back to Exercise 6</a>